.block {
  margin-bottom: 20px;
}
#block-system-main,
.block-express-layout {
  margin-bottom: 0;
}
.new-block-row {
  clear: both;
}
#block-logintocreatebulletins, #block-viewmysubmissions {
  margin: 0 0 0 900px;
  padding-top: 10px;
}
#block-logintocreatebulletins a, #block-viewmysubmissions a {
  margin-top: 1%;
  float: right;
  color: black;
}